/css-and-design/3-natours-project/.project
/css-and-design/3-natours-project/css/style.css
**/.history/**
**/node_modules/**
**/.settings/**
**/.vscode/**
**/package-lock.json
css-and-design/5-natours-project/css/style.comp.css
css-and-design/5-natours-project/css/style.concat.css
css-and-design/5-natours-project/css/style.prefix.css
/html-outline.md
/jquery-outline.md
/markdown-cheatsheet.md

**/dist**
**/tmp**
**/out-tsc**

# System Files
**.DS_Store**
**Thumbs.db**

