/* from big tablet to 1200px (widths smaller than the 1140px row) */
@media only screen and (max-width: 1200px) {
  .hero-text-box {
    width: 100%;
    padding: 0 2%;
  }
  .row {
    padding: 0 2%;
  }
}

/* from small tablet to big tablet: from 768px to 1023px*/
@media only screen and (max-width: 1023px) {
  body {
    font-size: 18px;
  }
  section {
    padding: 60px 0;
  }

  .hero-text-box {
    margin-top: 20px;
    margin-left: 20px;
  }
  .long-copy {
    width: 80%;
    margin-left: 10%;
  }
  .steps-box {
    margin-top: 10px;
  }
  .steps-box:last-child {
    margin-top: 10px;
  }
  .works-step {
    margin-bottom: 40px;
  }
  .works-step:last-of-type {
    margin-bottom: 60px;
  }

  .app-screen {
    width: 50%;
  }
  .icon-small {
    width: 17px;
    margin-right: 3px;
  }
  .city-feature {
    font-size: 90%;
  }
  .plan-box {
    width: 100%;
    margin-left: 0;
  }
  .plan-price {
    font-size: 250%;
  }
  .contact-form {
    width: 80%;
  }
}

/* add by me */
@media only screen and (max-width: 809px) {
  .btn-app img {
    margin-right: 0px;
  }
}

/* from small phones to small tablets: from 481px to 767px */
@media only screen and (max-width: 767px) {
  body {
    font-size: 16px;
  }
  section {
    padding: 30px 0;
  }
  .row,
  .hero-text-box {
    padding: 0 4%;
  }

  .col {
    width: 100%; /* very important: this will make columns staked on top of each other */
    margin: 0 0 4% 0;
  }

  /* this will hide the nav bar at all, until we fix by jquery */
  .main-dev {
    display: none;
  }

  /* for hamburger menu */
  .mobile-nav-icon {
    display: inline-block;
  }

  .main-dev {
    float: left;
    margin-top: 35px;
    margin-left: 25px;
  }

  .main-dev li {
    display: block; /* now it will force line brake */
    float: none;
  }

  .main-dev li a:link,
  .main-dev li a:visited {
    display: block;
    border: 0;
    padding: 10px 0;
    font-size: 100%;
  }
  .logo {
    height: 60px;
    width: auto;
    float: left;
    margin: 7px 15px;
  }
  .sticky {
    position: fixed; /* navigation will be fixed, irrespective of our scrolling */
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 098);
    -webkit-box-shadow: 0 2px 2px #efefef;
    box-shadow: 0 2px 2px #efefef;

    /* max is 9999, vertical stacking of elements, like stacking elements above each other, 
        so our sticky navigation will be always on the top, because it has the possible value here
        - to test it comment this property and check the sticky navigation when you scroll over images */
    z-index: 9999;
  }

  .sticky .main-dev {
    margin-top: 10px;
  }
  .sticky .main-dev li a:link,
  .sticky .main-dev li a:visited {
    padding: 10px 0;
  }
  .sticky .mobile-nav-icon {
    margin: 7px 30px;
  }
  .sticky .mobile-nav-icon ion-icon {
    color: #555;
  }

  /* *****************/

  h1 {
    font-size: 180%;
  }
  h2 {
    font-size: 150%;
  }

  .long-copy {
    width: 100%;
    margin-left: 0%;
  }

  .works-step:last-child {
    text-align: center;
  }

  .works-step div {
    height: 40px;
    width: 40px;
    margin-right: 15px;
    padding: 4px;
    font-size: 120%;
  }

  .works-step:last-of-type {
    margin-bottom: 20px;
  }

  .app-screen {
    width: 40px;
    margin: 0 47%;
  }

  .btn-app img {
    margin-top: 15px;
  }
}

/* for small phones, from 0 to 480px */
@media only screen and (max-width: 480px) {
  section {
    padding: 25px 0;
  }
  .contact-form {
    width: 100%;
  }
}
